.navbar {
  background-color: #F5F6FA; }
  .navbar .navbar-brand {
    margin-left: 10%; }

main .card .card-img {
  height: 85vh; }

main .card label {
  text-transform: uppercase;
  font-size: 12px; }

main .card .forgot-password:hover {
  color: orangered; }

main .card .btn {
  border-radius: 3rem; }

footer .icon {
  color: #027fad; }
  footer .icon:hover {
    color: orangered; }
