// variables
$primary-color: #F5F6FA;
$text--grey-color: #777;
$button-color: rgb(2,127,173);

// navbar
.navbar {
    background-color: $primary-color;

    .navbar-brand {
        margin-left: 10%;
    }
}

// main
main {
    .card {
        .card-img {
            height: 85vh;
        }
        label {
            text-transform: uppercase;
            font-size: 12px;
        }
        .forgot-password:hover {
            color: orangered;
        }
        .btn {
            border-radius: 3rem;
        }
    }
}

footer {
    .icon {
        color: $button-color;
        &:hover {
            color: orangered;
        }
    }
}